<h1>TOP</h1>
<h2>Player Info</h2>
<p>
  <ul>
    <li>Name : <%= @player.user_name %></li>
    <li>Money : <%= @player.money %></li>
    <li>Kaikon LV : <%= @player.kaikon_lv %></li>
    <li>Chisui LV : <%= @player.chisui_lv %></li>
  </ul>
</p>
<h3>Naisei</h3>
<p>
  
</p>
